body{
	background: rgb(47,184,237) url(../images/2.jpg) no-repeat center top;
	background-size: 1920px;
}
table{
	width: 600px;
	margin:30px auto;
	border: 1px solid rgb(172,201,221);
	border-collapse: collapse;
	text-align: center;
}
h1 {
    font-size: 32px;
}
td {
	border: 1px solid rgb(172,201,221);
    font:italic lighter 20px "微软雅黑";
}
.blue{
	background-color: rgb(172,201,221);
}